
body{
    background-color:rgb(255, 216, 159)
}
 
.homepage1 h1{
    font-size: 100px;
    font-family: "Poppins";
    color:rgb(0, 51, 0) ;
    text-align: center;
}

.homepage1 p{
    font-size: 30px;
    font-family: "Poppins";
    color:rgb(0, 0, 0) ;
    text-align: center;
}

.homepage1 h2{
    font-size:70px;
    font-family: "Poppins";
    color:rgb(76, 139, 86) ;
    text-align: left;
}

.homepage1 ul{
    font-size: 30px;
    font-family: "Poppins";
    color:rgb(0, 0, 0) ;
    text-align: left;

}


